@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divider-text{
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span{
    padding: 7px;
    font-style: 12px;
    position: relative;
    z-index: 2;
}
.divider-text::after{
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.btn-google{
    background-color: #ea4335 !important;
    color: #fff !important;
}
.btn-facebook{
    background-color: #405D9D !important;
    color: #fff !important;
}
