main {
  padding: 20px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading > .title {
  font-size: 30px;
}
.row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
}
